.formulario{
    margin-left: 20px;
    margin-top: 20px;
}

.mat-form-field.mat-form-field{
    max-width: 500px;
    min-width: 300px;
    width: 100%;
}

.mat-card-cvr{
    width: 100%;
    text-align:center;
    margin-right: 500px;
  }
  

mat-card {
    margin-top: 20px;
    width:100%;
    max-width: 550px;
    min-width: 300px;
    text-align: center;
    background: rgba(243, 243, 245, 0.5);
    display: inline-block;
}

mat-card-subtitle.mat-card-subtitle{
  font-size: 18px;
  color: blue;
}