<div class="mat-card-cvr">
    <div>
<mat-card>
    <div>
      <mat-card-title>Editar informações do Analista</mat-card-title>
    <mat-card-subtitle>{{negocio.nome}}</mat-card-subtitle>
  </div>
  <form [formGroup]="formulario" *ngIf="formulario" class="formulario">
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Nome</mat-label>
            <input type="text" matInput placeholder="Nome" formControlName="nome">
            <mat-error *ngIf="propriedade.nome.touched && propriedade.nome.invalid" >
               <sup>*</sup> Preencher o nome do Desenvolvedor
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="propriedade.email.touched && propriedade.email.invalid">
              <sup>*</sup> Preencher com seu Email
           </mat-error>
          </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <mat-card-actions align="end" style="padding-top:20px;margin-right: 30px;">
          <button
          mat-button
          mat-mini-fab
          color="accent"
          [routerLink]="['/business']">
          <mat-icon>backspace</mat-icon>
        </button>
          <button
          type="submit"
          mat-button
          mat-mini-fab
          color="primary"
        
          >
          <mat-icon>edit</mat-icon>
        </button>
        </mat-card-actions>
      </form>
    </mat-card>
    </div>
</div>