
<div class="container">
<form [formGroup]="formulario" *ngIf="formulario">
  <div>
    <mat-form-field appearance="legacy">
      <mat-label>Nome do Ambiente</mat-label>
      <input type="text" matInput placeholder="Ambiente" formControlName="ambiente">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="legacy">
      <mat-label>Nome do Ambiente</mat-label>
      <input type="text" matInput placeholder="Chamado" formControlName="chamado">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="legacy">
      <mat-label>Nome do Ambiente</mat-label>
      <input type="text" matInput placeholder="Descrição" formControlName="descricao">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="legacy">
      <mat-label>Nome do Ambiente</mat-label>
      <input type="text" matInput placeholder="API" formControlName="api">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="legacy">
      <mat-label>Nome do Ambiente</mat-label>
      <input type="text" matInput placeholder="IOS" formControlName="ios">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="legacy">
      <mat-label>Nome do Ambiente</mat-label>
      <input type="text" matInput placeholder="Android" formControlName="android">
    </mat-form-field>
  </div>
  <div>
    <button mat-button>Botão</button>
    <button mat-button>Voltar</button>
  </div>
</form>
</div>
