<mat-card>
  <div class="container" fxLayout="row" fxLayoutAlign="center end">
    <div class="row">
      <div>
        <mat-card-title fxLayout="row" fxLayoutAlign="center end">
        Ambiente Mobile Daycoval
        </mat-card-title>
        <mat-card-subtitle fxLayout="row" fxLayoutAlign="center end" >
          Os ambiente são de uso exclusivo para publicações de API mobile
        </mat-card-subtitle>
      </div>
    </div>
  </div>
<mat-divider></mat-divider>
<router-outlet></router-outlet>
</mat-card>
