  <div *ngIf="erros.length > 0">
    <div class="divErros" style="margin-top: 10px;">
      <h4 *ngFor="let erro of erros">
        <mat-icon style="vertical-align: bottom;">error</mat-icon>
        {{erro}}
        <mat-icon style="vertical-align: bottom;">error</mat-icon>
      </h4>
    </div>
  </div>
    
  <div style="margin-top: 10px;text-align: center;">
    <h2>Cadastro de Desenvolvedores</h2>
  </div>
  <mat-divider></mat-divider>
  
  <div style="align-items: center;">
    <mat-progress-spinner *ngIf="!dataSourceDesenvolvedor" mode="indeterminate" style="margin: 0 auto;">
    </mat-progress-spinner>
  </div>
  <table mat-table  class="mat-elevation-z8" [dataSource]="dataSourceDesenvolvedor" class="table">

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell
      *matCellDef="let dataSourceDesenvolvedor"> {{dataSourceDesenvolvedor.nome}} </td>
    </ng-container>

    <ng-container matColumnDef="login">
      <th mat-header-cell *matHeaderCellDef>Login</th>
      <td mat-cell *matCellDef="let dataSourceDesenvolvedor"
      >{{dataSourceDesenvolvedor.usuario}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let dataSourceDesenvolvedor"
      > {{dataSourceDesenvolvedor.email}} </td>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let dataSourceDesenvolvedor">
        <button
        mat-mini-fab
        color="primary"
        [routerLink]="['/desenvolvedores/alterar/',dataSourceDesenvolvedor.id]"
        >
        <mat-icon>edit</mat-icon>
      </button>
      <button
      mat-mini-fab
      color="accent"
      (click)="AbrirDialog(dataSourceDesenvolvedor.id,dataSourceDesenvolvedor.nome)"
      >
      <mat-icon>delete</mat-icon>
    </button>
      </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="btnAdicionar" fxLayout="row" fxLayoutAlign="end end">
    <button mat-mini-fab
    color="primary"
    [routerLink]="['/desenvolvedores/adicionar','android']"
    >
    <mat-icon>add</mat-icon>
  </button>
  </div>